.main-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  //background-image: linear-gradient(to left, #0689fd 30%, #29bdd9 100%);
  background: url(../../../assets/icons/20.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.layout-passport {
  width: 430px;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #fff;

  h2 {
    text-align: center;
  }
}

.layou-logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  //background: url(../../../assets/icons/logo.png) center no-repeat;
  background: url(../../../assets/icons/08-1.jpg) center no-repeat;
  background-size: 100% 100%;
  margin: 10px auto;
}

.accout-slogon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #595959;
  font-size: 12px
}

.account-login {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
