<nz-header>
  <div class="dw-logo" [ngStyle]="{'width':isCollapsed?'80px':'200px'}">
    <i class="iconfont" *ngIf="!isCollapsed">&#xe67a;</i>
    <i class="iconfont" *ngIf="isCollapsed">&#xe603;</i>
  </div>
  <div class="dw-inter-change">
    <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="changeIcon()"></i>
  </div>
  <div class="dw-inter">
    <div class="dw-inter-left">
      <div class="dw-inter-item" *ngIf="resize>500">
        <a href="https://github.com/DreamStar1996/My-Program/tree/main/Front_End/user-data" target="_blank">
          <i nz-icon nzType="github" nzTheme="outline"></i></a>
      </div>
      <div class="dw-inter-item" *ngIf="resize>900">
        <i nz-icon type="schedule"></i>
      </div>
      <div class="dw-inter-item" *ngIf="resize>900">
        <i nz-icon type="sound"></i>
      </div>
      <div class="dw-inter-search" *ngIf="resize>900">
        <nz-input-group [nzSuffix]="suffixIconSearch" [ngStyle]="{'width': resize < 1300 ? '300px':'500px'}">
          <input type="text" nz-input placeholder="搜索：员工、文件、照片等">
        </nz-input-group>
      </div>i
      <div class="dw-inter-item" *ngIf="resize>1200">
        <i nz-icon type="barcode"></i>
      </div>
      <div class="dw-inter-item" *ngIf="resize>1200">
        <i nz-icon type="message"></i>
      </div>
      <div class="dw-inter-item" *ngIf="resize>1200">
        <i nz-icon type="appstore"></i>
      </div>
      <div class="dw-inter-item" *ngIf="resize>1200">
        <i nz-icon type="mail"></i>
      </div>
      <div class="dw-inter-item" *ngIf="resize>1200">
        <i nz-icon type="shop"></i>
      </div>
    </div>
    <div class="dw-inter-right" *ngIf="resize>500">
      <div class="dw-inter-item">
        <nz-dropdown [nzPlacement]="'bottomCenter'">
          <a nz-dropdown>
            Chen
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a>个人中心</a>
            </li>
            <li nz-menu-item (click)="logout()">
              <a>退出</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </div>
</nz-header>
<ng-template #suffixIconSearch>
  <i nz-icon type="search"></i>
</ng-template>
