<nz-layout class="layout">
  <app-header (nzCollapsed)="launchSidebar()"></app-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <app-sider [isCollapsed]="isCollapsed"></app-sider>
    </nz-sider>
    <nz-layout [ngStyle]="{'margin-left':isCollapsed?'80px':'200px'}" class="layout-nz">
      <nz-content style="background:#fff;">
        <router-outlet>
        </router-outlet>
      </nz-content>
      <nz-footer style="text-align: center;">
        Test Program ©{{date}} By <a href="" target="_blank" style="outline: none;color: #565656">Chen</a>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
