:host ::ng-deep .ant-layout-sider {
  background: #fff;
  color: black
}

:host ::ng-deep .ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: #fff;
  color: black
}

.layout-nz {
  padding: 24px 24px 24px;
  min-height: calc(100vh - 64px);
  margin-top: 64px
}
